$base-line-height: (1 + sqrt(5)) / 2 !default;
$success-color: #5DA423 !default;
$warning-color: #F4A111 !default;
// $info-color: #5C99FB;
$info-color: #16a3Ce !default;
$error-color: darken(red, 7.5%) !default;