$sidebar-width: 10.5rem;
.site-container {
	position: relative;
}
.site-sidebar {
	@include rem(width, $sidebar-width);
	float: left;
	background: $main-color;

	// position: fixed;
	// height: 100%;
	// @include rem(top, $header-height);
	// left: 0;
}
.site-sidebar-bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	@include rem(width, $sidebar-width);
	background: $main-color;
	height: 100%;
}
.left-nav {
	> ul {
		> li {
			position: relative;
			> a {
				display: block;
				color: white;
				text-decoration: none;
				padding: .3em .9em;
			}

			&.has-submenu:hover > a,
			& > a:hover {
				background-color: darken($main-color, 7.5%);
			}
			&.active > a {
				background-color: darken($main-color, 15%);
			}
		}
	}

	.submenu {
		top: 0;
		left: 100%;
		background: $main-color;
		min-width: 80%;
		border: 1px solid darken($main-color, 5%);

		> li {

			> a {
				border-bottom: 1px solid darken($main-color, 5%);
				color: white;
				text-decoration: none;
			}
			+ li {
				> a {
					border-top: 1px solid lighten($main-color, 5%);
				}
			}

			&:last-child {
				> a {
					border-bottom: 0;
				}
			}
		}

		a {
			display: block;
			@include rem(line-height, 1.6rem);
			@include rem(padding, .3rem .9rem);

			&:hover {
				border-top-color: transparent;
				background: darken($main-color, 5%);
			}
		}
		&:after {
			content: "";
			position: absolute;
			right: 100%;
			top: 10px;
			width: 0;
			height: 0;
			border: 8px solid transparent;
			border-right-color: $main-color;
			z-index: 2;
		}
	}
}
.site-content {
	@include rem(margin-left, $sidebar-width + 1rem);
	overflow: hidden;
}
