@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-inside {
  font-family: 'icomoon';
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 22, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-home:before, .icon-fullscreen-exit:before, .icon-fullscreen:before, .icon-cancel-circle:before, .icon-link:before, .icon-pencil:before, .icon-sound:before, .icon-eye:before, .icon-add:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

/* line 33, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-home:before {
  content: "\e000";
}

/* line 36, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-fullscreen-exit:before {
  content: "\e002";
}

/* line 39, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-fullscreen:before {
  content: "\e001";
}

/* line 42, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-cancel-circle:before {
  content: "\d7";
}

/* line 45, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-link:before {
  content: "\e004";
}

/* line 48, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-pencil:before {
  content: "\e005";
}

/* line 51, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-sound:before {
  content: "\e006";
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-eye:before {
  content: "\e003";
}

/* line 57, /var/www/desarrollandolaafter/admin/assets/sass/_icomoon.scss */
.icon-add:before {
  content: "\e007";
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 21, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 31, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 73, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 94, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 115, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 132, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 140, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 153, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 162, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 172, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 180, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 189, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 196, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 200, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 212, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 220, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 232, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 244, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 255, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 269, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 281, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 296, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 306, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 316, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 */
/* line 325, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 335, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 344, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 354, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 367, /var/www/desarrollandolaafter/admin/assets/sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.clearfix, .site-header, .modules-wrapper {
  *zoom: 1;
}
/* line 4, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.clearfix:before, .site-header:before, .modules-wrapper:before, .clearfix:after, .site-header:after, .modules-wrapper:after {
  display: table;
  content: "";
}
/* line 8, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.clearfix:after, .site-header:after, .modules-wrapper:after {
  clear: both;
}

/* line 13, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.ir {
  font-size: 0/0 a;
  color: transparent;
  color: rgba(255, 255, 255, 0);
}

/* line 19, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.pull-rigth {
  float: right;
}

/* line 23, /var/www/desarrollandolaafter/admin/assets/sass/partials/_helpers.scss */
.assistive-text, :root .post-content-wrapper input[type="radio"] {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 6, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.pull-right {
  float: right;
}

/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.pull-left {
  float: left;
}

/* line 14, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.row {
  clear: both;
  display: block;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 29, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.span12,
.mobile-span12 {
  margin-left: 0;
}

/* line 33, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.prefix1, .prefix2, .prefix3, .prefix4, .prefix5, .prefix6, .prefix7, .prefix8, .prefix9, .prefix10, .prefix11, .prefix12 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 36, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 2%;
}
/* line 42, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.span1:first-child, .span2:first-child, .span3:first-child, .span4:first-child, .span5:first-child, .span6:first-child, .span7:first-child, .span8:first-child, .span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child {
  margin-left: 0;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span1 {
  width: 6.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset1,
.mobile-offset1:first-child {
  margin-left: 8.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix1 {
  padding-left: 8.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span2 {
  width: 15.0%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset2,
.mobile-offset2:first-child {
  margin-left: 17%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix2 {
  padding-left: 17%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span3 {
  width: 23.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset3,
.mobile-offset3:first-child {
  margin-left: 25.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix3 {
  padding-left: 25.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span4 {
  width: 32%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset4,
.mobile-offset4:first-child {
  margin-left: 34%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix4 {
  padding-left: 34%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span5 {
  width: 40.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset5,
.mobile-offset5:first-child {
  margin-left: 42.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix5 {
  padding-left: 42.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span6 {
  width: 49.0%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset6,
.mobile-offset6:first-child {
  margin-left: 51.0%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix6 {
  padding-left: 51.0%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span7 {
  width: 57.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset7,
.mobile-offset7:first-child {
  margin-left: 59.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix7 {
  padding-left: 59.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span8 {
  width: 66%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset8,
.mobile-offset8:first-child {
  margin-left: 68%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix8 {
  padding-left: 68%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span9 {
  width: 74.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset9,
.mobile-offset9:first-child {
  margin-left: 76.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix9 {
  padding-left: 76.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span10 {
  width: 83.0%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset10,
.mobile-offset10:first-child {
  margin-left: 85.0%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix10 {
  padding-left: 85.0%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span11 {
  width: 91.5%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset11,
.mobile-offset11:first-child {
  margin-left: 93.5%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix11 {
  padding-left: 93.5%;
}

/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-span12 {
  width: 100.0%;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-offset12,
.mobile-offset12:first-child {
  margin-left: 102.0%;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
.mobile-prefix12 {
  padding-left: 102.0%;
}

@media only screen and (min-width: 60em) {
  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span1 {
    width: 6.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset1,
  .offset1:first-child {
    margin-left: 8.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix1 {
    padding-left: 8.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span2 {
    width: 15.0%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset2,
  .offset2:first-child {
    margin-left: 17%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix2 {
    padding-left: 17%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span3 {
    width: 23.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset3,
  .offset3:first-child {
    margin-left: 25.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix3 {
    padding-left: 25.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span4 {
    width: 32%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset4,
  .offset4:first-child {
    margin-left: 34%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix4 {
    padding-left: 34%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span5 {
    width: 40.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset5,
  .offset5:first-child {
    margin-left: 42.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix5 {
    padding-left: 42.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span6 {
    width: 49.0%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset6,
  .offset6:first-child {
    margin-left: 51.0%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix6 {
    padding-left: 51.0%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span7 {
    width: 57.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset7,
  .offset7:first-child {
    margin-left: 59.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix7 {
    padding-left: 59.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span8 {
    width: 66%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset8,
  .offset8:first-child {
    margin-left: 68%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix8 {
    padding-left: 68%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span9 {
    width: 74.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset9,
  .offset9:first-child {
    margin-left: 76.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix9 {
    padding-left: 76.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span10 {
    width: 83.0%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset10,
  .offset10:first-child {
    margin-left: 85.0%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix10 {
    padding-left: 85.0%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span11 {
    width: 91.5%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset11,
  .offset11:first-child {
    margin-left: 93.5%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix11 {
    padding-left: 93.5%;
  }

  /* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .span12 {
    width: 100.0%;
  }

  /* line 78, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .offset12,
  .offset12:first-child {
    margin-left: 102.0%;
  }

  /* line 81, /var/www/desarrollandolaafter/admin/assets/sass/partials/grid/_grid.scss */
  .prefix12 {
    padding-left: 102.0%;
  }
}
/* line 30, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: .3em .5em;
  font-weight: bold;
  border: 1px solid;
  border-radius: .25em;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  background: #fafafa;
  color: #444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(#fafafa, #e1e1e1);
  background-image: -moz-linear-gradient(#fafafa, #e1e1e1);
  background-image: -o-linear-gradient(#fafafa, #e1e1e1);
  background-image: linear-gradient(#fafafa, #e1e1e1);
  border-color: #d4d4d4;
}
/* line 9, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn:hover {
  color: #444;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn:hover {
  background: #e1e1e1;
}
/* line 42, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn:active {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset;
}

/* line 47, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
a.btn {
  text-decoration: none;
}

/* line 51, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-error {
  background: #d90000;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d90000), color-stop(100%, #bf0000));
  background-image: -webkit-linear-gradient(#d90000, #bf0000);
  background-image: -moz-linear-gradient(#d90000, #bf0000);
  background-image: -o-linear-gradient(#d90000, #bf0000);
  background-image: linear-gradient(#d90000, #bf0000);
  border-color: #a60000;
}
/* line 16, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-error:hover {
  color: white;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-error:hover {
  background: #bf0000;
}

/* line 55, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-warning {
  background: #f4a111;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4a111), color-stop(100%, #e1930a));
  background-image: -webkit-linear-gradient(#f4a111, #e1930a);
  background-image: -moz-linear-gradient(#f4a111, #e1930a);
  background-image: -o-linear-gradient(#f4a111, #e1930a);
  background-image: linear-gradient(#f4a111, #e1930a);
  border-color: #c98309;
}
/* line 16, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-warning:hover {
  color: white;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-warning:hover {
  background: #e1930a;
}

/* line 58, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-success {
  background: #5da423;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da423), color-stop(100%, #518f1f));
  background-image: -webkit-linear-gradient(#5da423, #518f1f);
  background-image: -moz-linear-gradient(#5da423, #518f1f);
  background-image: -o-linear-gradient(#5da423, #518f1f);
  background-image: linear-gradient(#5da423, #518f1f);
  border-color: #457a1a;
}
/* line 16, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-success:hover {
  color: white;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-success:hover {
  background: #518f1f;
}

/* line 61, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-info {
  background: #16a3ce;
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #16a3ce), color-stop(100%, #1491b7));
  background-image: -webkit-linear-gradient(#16a3ce, #1491b7);
  background-image: -moz-linear-gradient(#16a3ce, #1491b7);
  background-image: -o-linear-gradient(#16a3ce, #1491b7);
  background-image: linear-gradient(#16a3ce, #1491b7);
  border-color: #117fa0;
}
/* line 16, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-info:hover {
  color: white;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-info:hover {
  background: #1491b7;
}

/* line 66, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active {
  cursor: default;
  background: #aaa;
  border-color: #666;
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 74, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-block {
  display: block;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  padding: .5em;
}

/* line 83, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_btn.scss */
.btn-big {
  font-size: 1.3em;
  padding: .5em .75em;
}

/* line 6, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message, .label {
  display: block;
  padding: .5em 1em;
  margin: 1em 0;
  color: white;
  font-weight: bold;
  text-shadow: 1px 0 1px rgba(200, 200, 200, 0.6);
  border-radius: .3em;
  border: 1px solid;
  background: #666666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #595959));
  background-image: -webkit-linear-gradient(#666666, #595959);
  background-image: -moz-linear-gradient(#666666, #595959);
  background-image: -o-linear-gradient(#666666, #595959);
  background-image: linear-gradient(#666666, #595959);
  border-color: #4d4d4d;
}
/* line 16, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message:first-child, .label:first-child {
  margin-top: 0;
}

/* line 21, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message-error, .label-error {
  background: #d90000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d90000), color-stop(100%, #bf0000));
  background-image: -webkit-linear-gradient(#d90000, #bf0000);
  background-image: -moz-linear-gradient(#d90000, #bf0000);
  background-image: -o-linear-gradient(#d90000, #bf0000);
  background-image: linear-gradient(#d90000, #bf0000);
  border-color: #a60000;
}

/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message-warning, .label-warning {
  background: #f4a111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4a111), color-stop(100%, #e1930a));
  background-image: -webkit-linear-gradient(#f4a111, #e1930a);
  background-image: -moz-linear-gradient(#f4a111, #e1930a);
  background-image: -o-linear-gradient(#f4a111, #e1930a);
  background-image: linear-gradient(#f4a111, #e1930a);
  border-color: #c98309;
}

/* line 28, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message-success, .label-success {
  background: #5da423;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5da423), color-stop(100%, #518f1f));
  background-image: -webkit-linear-gradient(#5da423, #518f1f);
  background-image: -moz-linear-gradient(#5da423, #518f1f);
  background-image: -o-linear-gradient(#5da423, #518f1f);
  background-image: linear-gradient(#5da423, #518f1f);
  border-color: #457a1a;
}

/* line 32, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message-info, .label-info {
  background: #16a3ce;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #16a3ce), color-stop(100%, #1491b7));
  background-image: -webkit-linear-gradient(#16a3ce, #1491b7);
  background-image: -moz-linear-gradient(#16a3ce, #1491b7);
  background-image: -o-linear-gradient(#16a3ce, #1491b7);
  background-image: linear-gradient(#16a3ce, #1491b7);
  border-color: #117fa0;
}

/* line 36, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.message-fade {
  color: #999;
  background: transparent;
  border: 1px solid #aaa;
  font-weight: normal;
}

/* line 43, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.label {
  display: inline-block;
  padding: .15em;
  margin: 0;
  font-size: .75em;
  border-radius: .2em;
  line-height: 1;
  position: relative;
  vertical-align: text-top;
  text-decoration: none;
}

/* line 55, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
a.label:hover {
  color: white;
}

/* line 72, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.label-reset {
  font-size: .8em;
}

/* line 76, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_message.scss */
.label-block {
  display: block;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
.form-label {
  display: block;
}

/* line 7, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline;
}

/* line 12, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
.help-text {
  color: #999;
  font-size: .9em;
}

/* line 20, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
.text-input,
.textarea,
select {
  border: 1px solid #bbb;
  padding: .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
.text-input:focus,
.textarea:focus,
select:focus {
  outline: none;
  border-color: #666;
}

/* line 31, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
.textarea {
  display: block;
  width: 100%;
  min-height: 5em;
  resize: vertical;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 39, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_forms.scss */
select {
  background-color: #fff;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
.text-success {
  color: #5da423;
}

/* line 5, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-success:hover {
  color: #518f1f;
}
/* line 9, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-success:active {
  color: #457a1a;
}

/* line 14, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
.text-warning {
  color: #f4a111;
}

/* line 18, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-warning:hover {
  color: #e1930a;
}
/* line 22, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-warning:active {
  color: #c98309;
}

/* line 27, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
.text-info {
  color: #16a3ce;
}

/* line 31, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-info:hover {
  color: #1491b7;
}
/* line 35, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-info:active {
  color: #117fa0;
}

/* line 40, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
.text-error {
  color: #d90000;
}

/* line 44, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-error:hover {
  color: #bf0000;
}
/* line 48, /var/www/desarrollandolaafter/admin/assets/sass/partials/ui/_text.scss */
a.text-error:active {
  color: #a60000;
}

/* line 34, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
html {
  background: #eeeeee url(../img/admin-bg.png);
}

/* line 43, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
html,
select,
input,
textarea {
  color: #333;
}

/* line 46, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
a {
  color: #21759b;
}
/* line 49, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
a:hover {
  color: #164f69;
}

/* line 53, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
img {
  max-width: 100%;
}

/* line 57, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.site-content > .wrapper, .post-content-wrapper, .post-description-wrapper, .other-options .option-decorated {
  background: white;
  padding: .5em 1em;
  border: 1px solid #a9a9a9;
}

/* line 62, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.site-content > .wrapper {
  width: 85%;
  max-width: 1000px;
  background: white;
  margin: 1em auto;
  padding: 1em;
  overflow: hidden;
}
/* line 71, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.site-content > .wrapper > p:first-child {
  margin-top: 0;
}

/* line 75, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.section-title {
  border-bottom: 1px solid #aaa;
  padding-bottom: .3em;
  font-weight: normal;
  color: #555;
}
/* line 80, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.section-title:first-child {
  margin-top: 0;
}

/* line 85, /var/www/desarrollandolaafter/admin/assets/sass/sections/_common.scss */
.post-content,
.post-description, .comment-content {
  font-family: Courier New, Courier, monospace;
}

/* line 2, /var/www/desarrollandolaafter/admin/assets/sass/sections/_nav.scss */
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/sections/_nav.scss */
.nav li.has-submenu > a:after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  top: 2px;
  margin-left: 5px;
  border-top-color: white;
}
/* line 24, /var/www/desarrollandolaafter/admin/assets/sass/sections/_nav.scss */
.nav li.has-submenu:hover .submenu, .nav li.has-submenu > a:focus + .submenu {
  display: block;
}
/* line 29, /var/www/desarrollandolaafter/admin/assets/sass/sections/_nav.scss */
.nav li.pull-right {
  float: right;
}
/* line 35, /var/www/desarrollandolaafter/admin/assets/sass/sections/_nav.scss */
.nav .submenu {
  position: absolute;
  display: none;
  z-index: 1;
}

/* line 2, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.site-header {
  line-height: 48px;
  line-height: 3rem;
  background: #427ee9;
  border-bottom: 1px solid #2268e5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 0;
}
/* line 8, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.site-header, .site-header a {
  color: white;
  text-decoration: none;
}
/* line 15, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.site-header > .logo {
  font-size: 25.6px;
  font-size: 1.6rem;
  margin:  0 8px;
  margin: 0 0.5rem;
  float: left;
}

/* line 22, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav {
  font-size: 16px;
  font-size: 1rem;
}
/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul {
  font-size: 0;
}
/* line 27, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul > li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: middle;
}
/* line 33, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul > li > a {
  padding: 0 1em;
  display: block;
}
/* line 37, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul > li > a.icon-inside {
  font-size: 48px;
  font-size: 3rem;
  padding: 0 .5em;
}
/* line 46, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul > li.active > a {
  background: #1756c7;
}
/* line 54, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav > ul > li.has-submenu:hover > a, .top-nav > ul > li > a:hover, .top-nav > ul > li > a:focus {
  background: #2067e5;
}
/* line 62, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .icon:before,
.top-nav .profile-image {
  margin: 0 .25em;
}
/* line 67, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu {
  top: 100%;
  left: 0;
  background: #427ee9;
  width: 110%;
  min-width: 160px;
  min-width: 10rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  border: 1px solid #2b6ee6;
  /**
   * Separate menu and navbar, using the :before pseudo as hover target
   * We'll use calc for ensuring support
   */
  top: -webkit-calc(100% + 5px);
  top: -moz-calc(100% + 5px);
  top: calc(100% + 5px);
}
/* line 79, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu > li > a {
  border-bottom: 1px solid #2b6ee6;
}
/* line 83, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu > li + li > a {
  border-top: 1px solid #598eec;
}
/* line 89, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu > li:last-child > a {
  border-bottom: 0;
}
/* line 95, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu a {
  display: block;
  line-height: 25.6px;
  line-height: 1.6rem;
  padding:  4.8px 14.4px;
  padding: 0.3rem 0.9rem;
}
/* line 100, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu a:hover {
  border-top-color: transparent;
  background: #2b6ee6;
}
/* line 106, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #427ee9;
  z-index: 2;
}
/* line 124, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .submenu:before {
  content: "";
  height: 7.5px;
  bottom: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
}
/* line 134, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .pull-right .submenu {
  left: auto;
  right: 0;
}
/* line 138, /var/www/desarrollandolaafter/admin/assets/sass/sections/_header.scss */
.top-nav .pull-right .submenu:after {
  left: auto;
  right: 10%;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_dashboard.scss */
.module {
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}

/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/sections/_dashboard.scss */
.module-title {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  color: #777;
  border-bottom: 2px solid #cecece;
}

/* line 19, /var/www/desarrollandolaafter/admin/assets/sass/sections/_dashboard.scss */
.modules-wrapper {
  margin: 0 1em;
  overflow: auto;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination {
  margin: 1rem 0;
}
/* line 3, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li {
  display: inline;
}
/* line 12, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li a {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding:  6.24px 14.4px;
  padding: 0.39rem 0.9rem;
  text-align: center;
  border: 1px solid #2b6ee6;
  border-left-width: 0;
  background: #427ee9;
  color: white;
  text-decoration: none;
}
/* line 24, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li a:hover {
  background: cornflowerblue;
}
/* line 30, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 34, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* line 38, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination li.active a {
  background: #2067e5;
}

/* line 44, /var/www/desarrollandolaafter/admin/assets/sass/sections/_pagination.scss */
.pagination-centered {
  text-align: center;
}

/* line 2, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  border-collapse: separate;
  table-layout: fixed;
  max-width: 100%;
  font-size: 13.6px;
  font-size: 0.85em;
}
/* line 9, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table thead {
  background: #ddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(#d4d4d4, #ededed);
  background-image: -moz-linear-gradient(#d4d4d4, #ededed);
  background-image: -o-linear-gradient(#d4d4d4, #ededed);
  background-image: linear-gradient(#d4d4d4, #ededed);
}
/* line 13, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table th {
  padding: .5em 1em;
  border-bottom: 1px solid #cccccc;
}
/* line 17, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table th + th {
  border-left: 1px solid #cccccc;
}
/* line 22, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table td {
  vertical-align: top;
  padding: .5em 1em;
}
/* line 26, /var/www/desarrollandolaafter/admin/assets/sass/sections/_tables.scss */
table td + td {
  border-left: 1px solid #d9d9d9;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.other-options-title, .post-content-wrapper label, .post-description-wrapper label, .admin-edit_comment label {
  margin: 0;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}

/* line 9, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.6;
  width: 100%;
  padding: .2em .5em;
  border: 1px solid #aaa;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* line 20, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-slug {
  background: transparent;
  border: none;
}

/* line 28, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-content-wrapper {
  position: relative;
}
/* line 36, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-content-wrapper label[for="content"] {
  margin-right: 2em;
}
/* line 39, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-content-wrapper .icon {
  float: right;
  color: #666;
  text-decoration: none;
  margin: .1em .5em;
}
/* line 44, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-content-wrapper .icon:hover {
  color: #555;
}

/* line 51, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-content,
.post-description {
  border: 0;
  width: 100%;
  clear: both;
  min-height: 16em;
  resize: vertical;
}

/* line 60, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-description {
  min-height: 7em;
}

/* line 80, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
:root .post-content-wrapper input[type="radio"] + label {
  cursor: pointer;
}
/* line 83, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
:root .post-content-wrapper input[type="radio"]:checked + label {
  color: #555;
}

/* line 91, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.other-options > .option {
  float: left;
  width: 30%;
  min-height: 10em;
}
/* line 95, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.other-options > .option p {
  margin: .4em;
}
/* line 98, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.other-options > .option + .option {
  margin-left: 5%;
}

/* line 107, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
input[name="tags"] {
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 112, /var/www/desarrollandolaafter/admin/assets/sass/sections/_post-edit.scss */
.post-preview {
  text-align: left;
  padding: 0 1em;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_comment-edit.scss */
.comment-content {
  width: 100%;
  min-height: 16em;
}

/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/sections/_comment-edit.scss */
.admin-edit_comment input {
  margin-left: 1.2em;
}

/* line 2, /var/www/desarrollandolaafter/admin/assets/sass/sections/_site.scss */
.admin-site label {
  font-weight: bold;
  margin: 1em 0 .5em;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper {
  width: 90%;
  max-width: 400px;
  max-width: 25rem;
  margin: 1em auto;
  background: white;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user,
.users-wrapper .users-controls {
  padding: .75em;
  overflow: hidden;
}
/* line 15, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user + .user,
.users-wrapper .users-controls {
  border-top: 1px solid #ddd;
}
/* line 18, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-thumbnail {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 3px;
  background: #f1f1f1;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 5px;
}
/* line 29, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-name {
  margin: 0;
  font-size: .9em;
}
/* line 32, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-name > a {
  color: #555;
  text-decoration: none;
}
/* line 35, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-name > a:hover {
  color: #333;
}
/* line 40, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-delete {
  float: right;
}
/* line 43, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-username {
  color: #aaa;
  font-weight: normal;
}
/* line 47, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-stats {
  margin: 0;
  font-size: .75em;
}
/* line 51, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-stats a {
  color: inherit;
  text-decoration: none;
}
/* line 56, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .users-controls {
  padding-top: .25em;
  padding-bottom: .25em;
}
/* line 59, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .users-controls > .user-add {
  float: right;
}
/* line 63, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .icon-inside {
  font-size: .75em;
  color: #aaa;
  text-decoration: none;
}
/* line 67, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .icon-inside:hover {
  color: #888;
}
/* line 71, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.users-wrapper .user-created {
  background: #e1f5d1;
}

/* line 77, /var/www/desarrollandolaafter/admin/assets/sass/sections/_users.scss */
.ajax-create-user-form-wrapper {
  padding: .5em;
  padding-top: 0;
  font-size: .9em;
  border-top: 1px solid #fafafa;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}

/* line 1, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-name {
  margin: .5em 0;
  font-size: 1.1em;
}
/* line 4, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-name > span {
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 9, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-name > span + span {
  margin-left: .3em;
}

/* line 14, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-description {
  margin: 0;
  font-size: .9em;
  font-style: italic;
}

/* line 20, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-author {
  font-size: .8em;
  text-align: right;
}

/* line 25, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-actions {
  font-size: .85em;
}

/* line 29, /var/www/desarrollandolaafter/admin/assets/sass/sections/_themes.scss */
.theme-thumbnail {
  border: 1px solid #999;
}
